.hide {
    display: none !important;
}


/* Entire Page */

.SubContentPage-Wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
}

.SubContentPage-Text {
    background: rgb(255, 69, 0);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 5rem;
    margin-left: 12rem; /* Adjust this margin to match the Dashboard's width */
    overflow-y: auto;
}




/* Search CSS */
.SearchBar-Container {
    display: flex;
}

.SearchBar-Container textarea {
    border-radius: 8px 0 0 8px;
    position: relative;
    padding-top: 0.7rem;
    padding-left: 1rem;
    outline: none;
    border-right: none;
}

.SearchBar-Container button {
    border-radius: 0 8px 8px 0;
    outline: none;
    border: 1px solid black;
    border-left: none;
    width: 3rem;
    background: rgb(230, 238, 240);
}

.SearchBar-Container textarea:hover {
    border: 2px solid black;
}

.SearchBar-Container button:hover {
    background: rgb(202, 205, 206);
}


#search-image {
    width: 20px;
    height: 20px;
}


.PostHistory-Wrapper {
    width: 100%; 
    display: flex;
    flex-direction: column;
    gap: 1px;
    background: rgb(40,40,40);
    margin-top: 5rem;
}

.PostHistory-Header {
    background: rgb(40,40,40);
    display: grid;
    grid-template-columns: 8rem 8.5rem auto;
    padding-left: 35px;
    font-weight: bold;
    color: white;
    height: 3rem;
    align-items: center;
    border: 1px solid white;
}

.PostBox {
    border-bottom: 1px solid lightgray;
    height: 4rem;
    display: grid;
    grid-template-columns: 9rem 8rem auto;
    align-items: center;
    row-gap: 5px;
    color: white;
    font-weight: 400;
    font-family: "Times New Roman";
    padding: 5px;
    padding-left: 30px;

}

.PostBox div:first-child {
    display: flex;
    align-items: center;
    gap: 8px;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: lightgreen;
}


.blink_me {
    animation: blinker 3s linear infinite;
}

.fade-in {
    opacity: 0;
    animation: FadeIn 0.5s ease; /* Adjust the duration and timing function as needed */
    animation-fill-mode: forwards; /* Keep the final animation state */
 
}

  
@keyframes blinker {
    50% {
      opacity: 0;
    }
}

@keyframes FadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}


