@import url("../../../typography/typo.css");

@keyframes slidein {
    from {
        transform: translateX(-100%);
    } to {
        transform: translateX(0%);
    }
}

.Dashboard-Wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 12rem;
    height: 100vh;
    text-align: center;
    background: rgb(32,32,32);
    color: white;
    animation: slidein 2s;
}

.Dashboard-Wrapper a {
    padding: 1rem 0;
}

.Dashboard-Wrapper > div {
    display: flex;
    flex-direction: column;
}

.Dashboard-Line {
    width: 100%;
    height: 1px;
    background: var(--medium-gray);
}

